<%- include('header') -%>

  <!--  <%%>'Scriptlet' tag, for control-flow, no output -->
  <!-- line to line basic -->
  <!--
  <%  if(listTitle === "Sunday") { %>

        <h1 style="color: blue">It is  <%= listTitle %> !</h1>
  <%  } else { %>
      <h1 style="color: red">It is a <%= listTitle %> !</h1>
  <%  } %>

  <ul>
    <%  for (var i = 0; i < newListItems.length; i++) { %>
    <li><%= newListItems[i] %></li>
    <%    } %>
  </ul>
-->

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <%  for (var i = 0; i < newListItems.length; i++) { %>

    <div class="item">
        <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <%    } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=  <%= listTitle %> >+</button>
    </form>
  </div>

<%- include('footer') -%>
